node_modules
test.js
t.cfg
test.cfg
build
altv-server.exe
altv-server
modules
data
server.cfg
server.log
.altvrc
update.json
resources
crashdumps
cache
jsconfig.json
new.cfg
compiled
binding.gyp
dist
dist-types